@model SantasWorkshop.Models.Kid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Kid</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleInitial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleInitial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isNaughty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isNaughty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Home.StreetAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Home.StreetAddress)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.KidId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
