@model IEnumerable<SantasWorkshop.Models.Toy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover tbody table-striped" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MadeIn.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendedAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MadeIn.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToyId })
        </td>
    </tr>
}

</table>
